.about {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.about_section {
  margin-top: 100px;
  margin-left: 181.5px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 450px;
  background-color: #2b2d2f;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
}

.about_content {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  padding-left: 0px;
  padding-right: 25px;
}

.about_description {
  width: 600px;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: transparent;
 
}

.about-text-holder {
  width: 400px;
  height: 50%;
  background-color: transparent;
  text-indent: 25px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.about-description-text {
  text-align: justify;
  color: white;
  text-indent: -10px;
  line-height: 30px;
}

.about_photo {
  width: 400px;
  height: 350px;
  border: black;
  border-style: solid;
  background-color: grey;
}

.about-content-spacer {
  flex: 1;
  background-color: transparent;
}

.about-slim-line {
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
  background-color: white;
}

.about_title {
  text-align: left;
  color: white;
  margin-bottom: 15px;
}

.selfphoto {
  flex-wrap: wrap;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 300px;
  display: flex;
  align-self: center;
  border-radius: 10px;
}
